
html, body {
  margin: 0;
  padding: 0;
}

/*
 * Bootstrap corrections
 */

.alert .table {
  margin-bottom: 0;
}
.alert .table td,
.alert .table th {
  border-top: none;
}

.table-small {
  margin-left: 12px;
}
.table-small th,
.table-small td {
  padding: 2px 5px;
}

/*
 * Other
 */

.home-container a {
  width: 100%;
}

.roCell {
  color: black;
  background-color: #F5F5F5 !important;
}

.angucomplete_highlight {
  color: red;
}

.metadata_cell {
  background-color: rgba(204, 224, 235, 0.58) !important;
}

.dataset_release_cell {
  /*background-color: rgba(150, 235, 0, 0.27) !important;*/
}
