{% extends "_base.html" %}

{% block head %}
  <link rel="stylesheet" media="screen" href="/css/main.css">
{% endblock %}

{% block body %}

<div class="container home-container">
  <div class="col-sm-3 text-center">
    <a class="btn btn-lg btn-default" href="/donors"><i class="fa fa-4x fa-pencil-square-o"></i><br/>Edit Donors</a>
  </div>
  <div class="col-sm-3 text-center">
    <a class="btn btn-lg btn-default" href="/samples"><i class="fa fa-4x fa-pencil-square-o"></i><br/>Edit Samples</a>
  </div>
  <div class="col-sm-3 text-center">
    <a class="btn btn-lg btn-default" href="/import"><i class="fa fa-4x fa-table"></i><br/>Import IHEC Data Hub</a>
  </div>
  <div class="col-sm-3 text-center">
    <a class="btn btn-lg btn-default" href="/users"><i class="fa fa-4x fa-users"></i><br/>Manage Users</a>
  </div>
</div>
{% endblock %}
