{% extends "_base.html" %}

{% block head %}
  <script src="/dist/import.js"></script>
{% endblock %}

{% block body %}

<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Import IHEC Data Hub</h3>
    </div>
    <div class="panel-body">

      <p>
        Select the data hub you wish to import.
      </p>

      <input type="file" class="js-file" />

      <div class="well js-report"></div>

      <button type="button" class="btn btn-default">Import Data Hub</button>

    </div>
  </div>

</div>

{% endblock %}
