{% extends "_base.html" %}

{% block head %}
  <script src="/dist/import.js"></script>
{% endblock %}

{% block body %}

<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Import IHEC Data Hub</h3>
    </div>
    <div class="panel-body">

      <p>
        Select the data hub you wish to import.
      </p>

      <button type="button" class="btn btn-default js-file">
        <i class="fa fa-folder-open-o"></i> <span class="js-file-name">Open File</span>
      </button>

      <br/>
      <br/>

      <div class="alert js-report"></div>

      <button type="button" class="btn btn-default js-import">
        <i class="fa fa-table"></i> Import Data Hub
      </button>

      <br/>

      <div class="progress js-progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          0%
        </div>
      </div>

      <div class="alert js-result"></div>

    </div>
  </div>

</div>

{% endblock %}
